<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 29"><path stroke="currentColor" stroke-width="4" d="M2.5 26.52 14.52 14.5 2.5 2.48" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg>