.l-menu {
  position: relative;

  @include mq($bp-layout-menu) {
    display: grid;
    grid-template-columns: 1fr 3.5fr 8.5fr 1fr;
    grid-template-rows: auto;
  }

  @include mq($bp-max) {
    grid-template-columns: 1fr ($site-column-size*3.5px) ($site-column-size*8.5px) 1fr;
  }
}


.l-menu__close {
  position: absolute;
  top: space(3);
  right: space(3);

  @include mq($bp-layout-menu) {
    display: none;
  }
}


.l-menu__filter-button {
  @include mq($bp-layout-menu) {
    display: none;
  }
}


.l-menu__bar {
  grid-column: 2 / span 1;
  grid-row: 1;
  padding-right: space(5);

  @include mq($max: $bp-layout-menu) {
    @include border-radius((0,l,l,0));
    @include z(z-layout-menu);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: space(4);
    padding-right: 0;
    width: calc(100% - 24px);
    max-width: 400px;
    background-color: #ffffff;
    box-shadow: 0 10px space(3) 0 rgb(0 0 0 / 16%);
    transform: translateX(-110%);
    transition: transform .4s ease-in;
  }

  &.is-active {
    transform: none;
    transition: transform .4s ease-out;
  }
}


.l-menu__filters {
  height: 100%;
  overflow: auto;
  padding-right: space(4);
}


.l-menu__content {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;

  @include mq($max: $bp-layout-menu) {
    width: 85.71429%;
  }

  @include mq($bp-layout-menu) {
    grid-column: 3 / span 1;
    grid-row: 1;
    width: 100%;
  }
}


// For items that are only visible on mobile
.l-menu__show-only-for-mobile {
  @include mq($bp-layout-menu) {
    display: none;
  }
}