.l-products {
	flex: auto;
	display: flex;
	flex-direction: column;
}


.l-products__sort {
	margin-top: space(2);
	margin-bottom: space(1);
	padding-bottom: space(2);
	text-align: right;
	border-bottom: 1px solid palette(neutral, 100);
}


.l-products__filter-bar {
	@include mq($max: $bp-layout-menu) {
		display: none;
	}

	margin-top: space(2);
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto;
	align-items: baseline;
}


.l-products__chips {
	display: flex;
	flex-wrap: wrap;
}


.l-products__chip {
	margin-bottom: space(1);

	&:nth-last-child(n+2){
		margin-right: space(1);
	}
}


.l-products__main {
	position: relative;
	margin-top: space(2);
	flex: auto;
}


.l-products__loader {
	@include border-radius(m);
	border: 1px solid palette(neutral, 100);
}


.l-products__grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
	grid-column-gap: space(3);
	grid-row-gap: space(4);
	transition: opacity 200ms linear;

	&.is-loading {
		backdrop-filter: blur(8px);
		opacity: 0.2;
	}
}


.l-products__item {
	& > * { height: 100%; }
}


.l-products__pagination {
	margin-top: space(6);
	margin-bottom: space(6);
}