.l-split {
	display: grid;
	grid-row-gap: space(4);
	grid-template-columns: auto;
	grid-template-rows: repeat(2, auto);
	justify-content: flex-start;
	
	@include mq(1000) {
		grid-column-gap: space(8);
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
}


.l-split--3-2 {
	@include mq(1000) {
		grid-template-columns: 3fr 2fr;
	}
}