<div class="o-footer">
    <div class="o-footer__main">
        <div class="o-footer__copy">
            &copy; 2021 Samen Dorplein
        </div>
        <ul class="o-footer__nav">
            <li><a class="o-footer__link" href="/disclaimer">Disclaimer</a></li>
        </ul>
        <ul class="o-footer__social">
            <li><a class="o-footer__link" href="//facebook.nl/samendorplein" target="_blank">Facebook</a></li>
            <li><a class="o-footer__link" href="mailto:info@samendorplein.nl">E-mail</a></li>
        </ul>   
    </nav>
</footer>