<div class="o-header">
    <div class="o-header__main">
        <a href="/" class="o-header__logo">
            <img src="/img/svg/logo-on-light.svg" alt="Logo Samen Dorplein" width="467" height="667">
        </a>
        <nav class="o-header__nav">
            {% include 'nav.njk' %}
        </nav>
    </div>
</header>