<div class="c-page-title">
    {% if title %}
        <h1 class="c-page-title__main" title="{{title}}" aria-label="{{title}}">{{ title }}</h1>
    {% endif %}

    {% if subtitle %}
        <h2 class="c-page-title__sub" title="{{subtitle}}" aria-label="{{subtitle}}">{{ subtitle }}</h2>
    {% endif %}
</div>