/* ============================================
   Define breakpoints for given formats
   ============================================ */

// Default breakpoint
$breakpoints: (
  s: 384,
  m: 840,
  l: 1152
);

$bp-header-switch: 620;

// ------------------------------------------------------------------------
// Calculate viewport size when container can't grow anymore
$bp-max: ($site-columns * $site-column-size) + 17; // 17px estimate for average scrollbar width