.o-article {
    @include restrict(2);

}

.o-article__back {
    margin-bottom: space(3);
}


.o-article__intro {
    @include font-size(20,30);
    @include font-weight(bold);
    margin-bottom: space(3);
    padding-bottom: space(4);
    border-bottom: 1px solid palette(purple, 300, 0.4);
    color: palette(purple, 500);
}


.o-article__date {
    @include font-size(14,24);
    display: block;
    margin-top: space(3);
    text-align: right;
    color: palette(neutral, 500);
}