---
layout: master.njk
title: Disclaimer
---

<div class="l-container-grid  s-text">
    <h4>Algemeen</h4>
    <p>De bepalingen uit deze disclaimer zijn van toepassing op de website die is gekoppeld aan het internetadres www.samendorplein.nl. Mocht u problemen ondervinden op onze website, laat ons dit dan weten door het sturen van een <a href="mailto:info@samendorplein.nl">e-mail</a>. Wij zullen dan onze uiterste beste doen het probleem zo spoedig mogelijk te verhelpen.</p>

    <h4>Elektronische communicatie</h4>
    <p>U kunt ons, nu en in de toekomst, op verschillende manieren bereiken. Onder meer via de website en e-mail. Deze vormen van elektronische communicatie zijn nooit 100% veilig. Door gevoelige of vertrouwelijke informatie zonder ‘versleuteling’ via het open internet aan ons te versturen aanvaardt u het risico, dat deze informatie bij derden terechtkomt.</p>

    <h4>Informatie; hyperlinks</h4>
    <p>Wij bieden, tenzij uitdrukkelijk anders wordt vermeld, de informatie op de website aan als een vorm van dienstverlening. In het bijzonder aan onze huidige en toekomstige relaties, maar in feite aan een ieder die toegang heeft tot internet. Er kunnen geen rechten aan worden ontleend. Wij betrachten altijd de grootst mogelijke zorgvuldigheid bij het samenstellen en/of opmaken van onze websites. Dit betekent evenwel niet, dat wij kunnen garanderen dat de op de website verstrekte informatie altijd juist, up-to-date of compleet is. In de gevallen, dat op de website hyperlinks worden aangeboden betekent dit niet, dat wij de via die links eventueel aangeboden diensten of producten aanbevelen. Ook voor de juistheid van de informatie op die websites kunnen wij niet instaan.</p>

    <h4>Aansprakelijkheid</h4>
    <p>Samen Dorplein en/of onze deelnemers zijn niet aansprakelijk voor enigerlei schade die ontstaat als gevolg van (onzorgvuldig of onjuist) gebruik van de informatie of mogelijkheden die de website biedt of gebruik van de website zelf, tenzij er sprake is van opzet of bewuste roekeloosheid. Gebruik van de website geschiedt dan ook volledig voor uw eigen risico. Ook zijn wij niet aansprakelijk in de gevallen dat de website (tijdelijk) niet bereikbaar is.</p>

    <h4>Wijzigingen</h4>
    <p>Wij zullen de informatie op de website periodiek aanvullen en eventueel wijzigen. Dit kunnen wij steeds onmiddellijk en zonder enige kennisgeving vooraf doen.</p>

    <h4>Rechten van intellectuele eigendom</h4>
    <p>Ten aanzien van alle informatie en/of andere auteursrechtelijk beschermde werken op de websites behouden wij uitdrukkelijk onze auteursrechten en die van onze licentiegevers voor. Voor gebruik van het hiervoor bedoelde heeft u voorafgaande toestemming van ons nodig. U kunt uw verzoeken in dit verband aan ons richten per e-mail.</p>

    <h4>Toepasselijk recht</h4>
    <p>Op de websites en deze disclaimer is Nederlands recht van toepassing. Alle eventuele uit hoofde van de websites en de disclaimer voortvloeiende geschillen zullen bij uitsluiting worden voorgelegd aan de bevoegde rechter in Nederland.</p>

</div>