.c-dates {
    --box-shadow-opacity: 0.1;
    --left-space: #{space(5)};

    color: palette(purple, 500);
    width: fit-content;
}


.c-dates__title {
    margin-bottom: space(3);

    &:before {
        content: '🗓  ';
        display: inline-block;
        width: var(--left-space);
        font-size: 1.2em;
    }
}


.c-dates__list {
    display: flex;
    flex-direction: column;
    gap: space(1);
    list-style: none;
    margin-left: var(--left-space);
}


.c-dates__item {
    // display: flex;
    // align-items: center;
    color: palette(purple, 400);
}