.c-dates {
    --box-shadow-opacity: 0.1;
    // @include boxed(m);
    color: palette(purple, 500);
    width: fit-content;
}


.c-dates__title {
    margin-bottom: space(1);

    &:before {
        content: '🗓  ';
        margin-right: 0.1em;
        font-size: 1.2em;
    }
}


.c-dates__list {
    list-style: none;
	margin-left: 0;
}


.c-dates__item {
    color: palette(purple, 400);
    margin-top: space(2);

    & + & {
        padding-top: space(2);
        border-top: 1px solid palette(purple, 300, 0.3);
    }
}


.c-meeting__content {
    & ul {
        list-style: none;
        margin-left: 0;
    }

    & li:before {
        content: '📌';
        margin-right: space(1);
        font-size: 0.8em;
    }
}